{
    "project": "{{ project_name }}",
    "generated": "{{ created }}",
    "owner": "{{ owner }}",
    "modules": [],
    "paths": {
        "root": "{{ project_name }}",
        "modules_dir": "{{ project_name }}/modules"
    }
}
