name: "THN CLI: CI"

on:
  pull_request:
    branches: ["main"]

jobs:
  ci_v3:
    name: "CI v3"
    runs-on: ubuntu-latest

    env:
      LANG: C.UTF-8
      LC_ALL: C.UTF-8
      TERM: xterm-256color
      COLUMNS: "120"

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[dev]

      - run: pytest -q
